.item{
    border: 2px solid brown;
    border-radius: 10px;
    margin: 5px;
    height: 350px;
    width: 310px;
    padding: 3px;
   
}
.item img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    
}
.btn-cart{
   
    border: none;
    padding: 0px 20px;
    background-color: darkturquoise;
 
}
.icon{
    margin-right: 5px;
}